{% extends "base.html" %}

{% block header%}
    <title>Alfredo Medina | Desarrollo web y datos</title>
{% endblock header%}

{% block content %}
    <div class="container hello">
        <h1>Acerca de mí.</h1>
        <p>
            Me llamo Alfredo Medina y me gusta la tecnología. Soy fan del análisis de datos,
            pero ultimamente me he estado enfocando en aplicaciones web.
        </p>
    </div>
    <div class="container hello">
        <h1>Experiencia.</h1>
        <p>
            <ul>
                <li>Softtek - Support Engineer
                    <ul>
                        <li>
                            Soporte y mantenimiento a código de aplicaciones de negocio para cliente 
                            del sector público (IMSS). Uso de Java con tecnologías como Spring, Maven, 
                            Hibernate y JSF. Capacitación interna en mejores prácticas para la entrega 
                            de servicios: ITIL v3, Six Sigma White & Yellow Belt, Run Lean. 
                        </li>
                    </ul>
                </li>
                <li>4th Source / AN Global - Quality Assurance Engineer
                    <ul>
                        <li>
                            Desarrollo y ejecución de pruebas de calidad y funcionamiento, tanto manuales 
                            como automatizadas, a aplicaciones web mediante el uso de Selenium y Cucumber. 
                            Uso de la metodología Agile y juntas diarias con colegas, superiores y clientes 
                            Americanos para información en planeación y avances.
                        </li>
                    </ul>
                </li>
            </ul>
        </p>
        <p>
            
        </p>
    </div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}