<!DOCTYPE html>
<html lang="es">
  <head>

    <!--
        =====================================
        WANT THE SOURCE?
        VISIT THE GITHUB OVER AT
        github.com/alfremedpal/amedpal
        =====================================
    -->

    <!--META TAGS-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!--CSS-->
    <link rel="stylesheet" href="/index-static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/index-static/CSS/index.min.css">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 

    <!--ICONS-->
    <link rel="apple-touch-icon" sizes="180x180" href="/index-static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/index-static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/index-static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/index-static/images/favicon_io/site.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!--PAGE EXCLUSIVE HEADER ELEMENTS-->
    {% block header %}{% endblock header %} 

  </head>

  <body>

    <!--NAV BAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
			<a class="navbar-brand" href="{{ url_for('index.home') }}"><b>Alfredo Medina</b></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('index.blog') }}">Blog</a>
				</li>
			</ul>
			</div>
    	</div>
	</nav>
    
    <!--CONTENT-->
    {% block content %}{% endblock content %} 
    
    <div class="container footer">
      <a href="mailto:info@amedpal.com">Contacto</a> · <a href="https://github.com/alfremedpal">Github</a> · <a href="https://github.com/alfremedpal/amedpal">Fuente</a>  
    </div> 

    <!--JS--> 
    <script src="/index-static/JS/jQuery.js"></script>
    <script src="/index-static/JS/popper.js"></script>
    <script src="/index-static/JS/bootstrap.js"></script>
    
    <!--EXTRA SCRIPTS-->
    {% block scripts %}{% endblock scripts %}

  </body>

</html>