{% extends "base.html" %}

{% block header%}
    <title>Alfredo Medina | Desarrollo web y datos</title>
    <meta name="description" content="Soluciones digitales para pequeñas y medianas empresas. Desarrollo de sitios y aplicaciones web, análisis y visualización de datos, bases de datos y más.">
    <link rel="canonical" href="https://www.amedpal.com/"/>
{% endblock header%}

{% block content %}
    <div class="container hello">
        <div id="englishBanner">
            No Spanish? Click <a href="{{url_for('index.home_en')}}">here</a> to be redirected to the English version!
        </div>
        <h1>Hola.</h1>
        <div class="row">
            <div class="col-md-7">
                <p>
                    Me llamo Alfredo Medina y me gusta desarrollar sitios y aplicaciones web con Python.
                    Soy también entusiasta del análisis y visualización de datos, scripts de automatización,
                    la seguridad informática y el software open source. Recientemente he estado trabajando mucho
                    con Amazon Web Services buscando obtener mi certificación como un <i>AWS Certified Cloud Practitioner</i>.
                </p>
                <p>
                    Disfruto trabajar con negocios pequeños o locales, brindándoles la oportunidad de tener 
                    presencia y herramientas digitales que los puedan ayudar a crecer y mostrar una imagen más 
                    profesional.
                </p>   
                <p>
                    <b>Ponte en contacto conmigo</b> y cuéntame que necesitas.
                </p>
            </div>
            <div class="col">
                <div class="box">
                    <img src="/index-static/images/python.svg" width="50px;" height="50px;" alt="Python"> <span style="margin-left:20px;">Python</span>
                </div>
                <div class="box">
                    <img src="/index-static/images/flask.svg" width="50px;" height="50px;" alt="Flask"> <span style="margin-left:20px;">Flask</span>
                </div>
                <div class="box">
                    <img src="/index-static/images/web.svg" width="50px;" height="50px;" alt="Web"> <span style="margin-left:20px;">HTML & CSS + JS</span> 
                </div>
            </div>
        </div>
    </div>

    <div id="contacto" class="container clientes">
        <h1>Contacto.</h1>
        <p>
            Mándame un correo sin compromiso.
        </p>
        <p>
            <b style="font-size:1.25em;">info@amedpal.com</b>
        </p>
    </div>

    <div class="container clientes">
        <h1>Clientes y trabajos.</h1>
        <p>
            Ve en lo que me encuentro trabajando actualmente. Por el momento estoy disponible para más proyectos.
        </p>
        <div class="article-box">
            <a class="fill-box">
                <h3>Grupo Legado <small class="small">www.grupolegado.com.mx</small></h3>
                Plataforma de noticias digital. El cliente es capaz de crear y editar artículos para su lectura. También tiene control total
                de que es lo que se muestra en la página de bienvenida: el artículo más reciente, videos y posts de Instagram.
                <a target="_blank" href="https://www.grupolegado.com.mx/">Ir al sitio</a>
            </a>
        </div>
    </div>

    <div class="container articulos">
        <h1>Artículos recientes.</h1>
        <p>
            Me gusta escribir de mis proyectos personales y de lo que aprendo de ellos. 
            <a href="{{ url_for('index.blog') }}"><b>Visita mi blog</b></a> para ver todas mis publicaciones.
        </p>
        <div class="article-box">
            <a class="fill-box" href="{{url_for('index.blog_post', post='flask-and-dynamodb')}}">
                <h3>How to use DynamoDB with Flask <small class="small">September 23, 2019</small></h3> 
                Tutorial
            </a>
        </div>
        <div class="article-box">
            <a class="fill-box" href="{{url_for('index.blog_post', post='save-images-to-server-flask-summernote')}}">
            <h3>How to save images directly to server with summernote and Flask <small class="small">September 12, 2019</small></h3> 
            Small tutorial
            </a>
        </div>
    </div>   

    <div class="container footer">
        <a href="mailto:info@amedpal.com">Contacto</a> · <a href="https://github.com/alfremedpal">Github</a> · <a href="https://github.com/alfremedpal/amedpal">Fuente</a>  
    </div> 

{% endblock content %}

{% block scripts %}
<script>
    var language = navigator.language || navigator.browserLanguage; 
    englishBanner = document.getElementById("englishBanner");
    if(language.includes("es")) {
        englishBanner.style.display = "none"
    } else {
        englishBanner.style.display = "block"
    }
</script>
{% endblock scripts %}