{% extends "base.html" %}

{% block header%}
    <title>Alfredo Medina | Web development & data</title>
    <meta name="description" content="Digital solutions focused on small and medium-sized businesses. Web apps and sites, data analysis and visualization, databases, and more. ">
    <link rel="canonical" href="https://www.amedpal.com/"/>
{% endblock header%}

{% block content %}
    <div class="container hello">
        <h1>Hi.</h1>
        <div class="row">
            <div class="col-md-7">
                <p>
                    My name is Alfredo Medina and I like to develop web apps and websites with Python.
                    I'm also an enthusiast of data analysis and visualiztion, automation scripts, information security, and
                    open source software. Recently I've been working with AWS aiming towards getting certificated as a
                    <i>AWS Cloud Practitioner</i>.
                </p>
                <p>
                    I like working with small and local businesses, giving them an opportunity to have digital presence and
                    tools to help them achieve better performace and growth.
                </p>   
                <p>
                    <b>Get in touch with me</b> and tell me what you need.
                </p>
            </div>
            <div class="col">
                <div class="box">
                    <img src="/index-static/images/python.svg" width="50px;" height="50px;" alt="Python"> <span style="margin-left:20px;">Python</span>
                </div>
                <div class="box">
                    <img src="/index-static/images/flask.svg" width="50px;" height="50px;" alt="Flask"> <span style="margin-left:20px;">Flask</span>
                </div>
                <div class="box">
                    <img src="/index-static/images/web.svg" width="50px;" height="50px;" alt="Web"> <span style="margin-left:20px;">HTML & CSS + JS</span> 
                </div>
            </div>
        </div>
    </div>

    <div id="contacto" class="container clientes">
        <h1>Contact.</h1>
        <p>
            Send me an email.
        </p>
        <p>
            <b style="font-size:1.25em;">info@amedpal.com</b>
        </p>
    </div>

    <div class="container clientes">
        <h1>Clients and projects.</h1>
        <p>
            See what I'm working on. I'm currently open for more work.
        </p>
        <div class="article-box">
            <a class="fill-box">
                <h3>Grupo Legado <small class="small">www.grupolegado.com.mx</small></h3>
                News platform. The client can control what is displayed on the welcome page: videos, the latest article, and Instagram posts.
                Creation and edition of blog posts.
                <a target="_blank" href="https://www.grupolegado.com.mx/">Go to the website</a>
            </a>
        </div>
    </div>

    <div class="container articulos">
        <h1>Recent articles.</h1>
        <p>
            I like to write about my personal projects and what I learn from them. 
            <a href="{{ url_for('index.blog') }}"><b>Visit my blog</b></a> to see all the articles.
        </p>
        <div class="article-box">
            <a class="fill-box" href="{{url_for('index.blog_post', post='save-images-to-server-flask-summernote')}}">
            <h3>How to save images directly to server with summernote and Flask <small class="small">September 12, 2019</small></h3> 
            Small tutorial
            </a>
        </div>
        <div class="article-box">
            <a class="fill-box" href="{{url_for('index.blog_post', post='relationship-between-nba-players-heigh-and-weight-and-position')}}">
                <h3>Relationship between NBA players positions and their height and weight with a KNN algorithm <small class="small">May 2, 2019</small></h3> 
                Visualizing how height and weight in NBA players impact on what position they play, 
                with the use of a KNN algorithm to predict new players
            </a>
        </div>
    </div>  
    
    <div class="container footer">
        <a href="mailto:info@amedpal.com">Contact</a> · <a href="https://github.com/alfremedpal">Github</a> · <a href="https://github.com/alfremedpal/amedpal">Source</a>  
    </div> 

{% endblock content %}

{% block scripts %}{% endblock scripts %}