{% extends "base.html" %}

{% block header%}
    <title>Alfredo Medina | Web development & data</title>
    <meta name="description" content="Digital solutions focused on small and medium-sized businesses. Web apps and sites, data analysis and visualization, databases, and more. ">
    <link rel="canonical" href="https://www.amedpal.com/"/>
{% endblock header%}

{% block content %}
    <div class="container hello">
        <h1>Hi.</h1>
        <div class="row">
            <div class="col-md-7">
                <p>
                    My name is Alfredo Medina and I like to develop <b>custom digital solutions</b>.
                </p>
                <p>
                    I specially enjoy working with small or local businesses, helping them launch and maintain
                    a digital infrastructure. 
                </p>   
                <p>
                    <b>Get in touch with me</b> and tell me what you need.
                </p>
            </div>
            <div class="col">
                <div class="box">
                    <img src="/index-static/images/aws-certified-logo_color-horz_360x60.png" class="img-fluid" alt="AWS">
                </div>
                <div class="box">
                    <img src="/index-static/images/python.svg" width="50px;" height="50px;" alt="Python"> <span style="margin-left:20px;">Python</span>
                </div>
                <div class="box">
                    <img src="/index-static/images/flask.svg" width="50px;" height="50px;" alt="Flask"> <span style="margin-left:20px;">Flask</span>
                </div>
            </div>
        </div>
    </div>

    <div id="contacto" class="container clientes">
        <h1>Contact.</h1>
        <p>
            Send me an email.
        </p>
        <p>
            <b style="font-size:1.25em;">info@amedpal.com</b>
        </p>
    </div>

    <div class="container clientes">
        <h1>Clients and projects.</h1>
        <p>
            See what I'm working on. I'm currently open for more work.
        </p>
        <div class="article-box">
            <a class="fill-box">
                <h3>Grupo Legado <small class="small">www.grupolegado.com.mx</small></h3>
                News platform. The client can control what is displayed on the welcome page: videos, the latest article, and Instagram posts.
                Creation and edition of blog posts.
                <a target="_blank" href="https://www.grupolegado.com.mx/">Go to the website</a>
            </a>
        </div>
    </div>

    <div class="container articulos">
        <h1>Blog.</h1>
        <p>
            I like to write about my personal projects and what I learn from them. 
        </p>
        <p>
            <a href="{{ url_for('index.blog') }}"><b>Visit my blog</b></a> to see all the articles.
        </p>
    </div>  

{% endblock content %}

{% block scripts %}{% endblock scripts %}